/* NAVBAR
-------------------------------------------------- */
@import 'navbar.css';

.btn {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.btn:hover, .btn:focus {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px white, 0 0 1px white, 0 0 1px white;
}

/* HOME
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-height: 500px;
}

/* Since positioning the image, we need to help out the caption */
.caption {
  min-height: 250px;
  color: white;
  z-index: 10;
  text-shadow: 1px 2px 2px black;
  text-align: center;
  font-size: 2vw;
  padding-bottom: 30vh;
}

@media (max-width: 1000px) {
  .caption p {
    font-size: 18px;
  }
}

#home {
  background-image: url('../images/me.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  margin-top: 0;
  padding-top: 100px;
}

/* NEWS
-------------------------------------------------- */

#news {
  padding-top: 50px;
}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 40px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 img {
  height: 150px;
  width: 150px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 16px;
  color: #444;
  box-shadow: 0 6px 10px 0 rgba(255,215,0, 0.2), 0 8px 22px 0 rgba(255,215,0, 0.19);
}

.marketing .well {
  display: table;
  width: 100%;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.marketing .well p {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

.marketing .progress {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.basic + .tooltip > .tooltip-inner { background-color: rgb(202, 92, 84); }
.basic + .tooltip > .tooltip-arrow { border-bottom-color: rgb(202, 92, 84); }

.intermediate + .tooltip > .tooltip-inner { background-color: rgb(230, 175, 95); }
.intermediate + .tooltip > .tooltip-arrow { border-bottom-color: rgb(230, 175, 95); }

.advanced + .tooltip > .tooltip-inner { background-color: rgb(116, 181, 102); }
.advanced + .tooltip > .tooltip-arrow { border-bottom-color: rgb(116, 181, 102); }

/* STICKY FOOTER
-------------------------------------------------- */

.footer,
footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.50);
}

.footer hr {
  border: 0;
  height: 0;
  border-top: 4px double white;
  text-align:center;
}

.footer hr:after {
  position: relative;
  top: -22px;
  content:"\25cf\25cf\25cf";
  font-size: 34px;
  line-height: 34px;
  color: white;
}

.btn-social {
  margin-right: 5px;
  margin-top: 5px;
}

/* OTHER CSS
-------------------------------------------------- */

html, body {
  height: 100%;
  background-color: black;
}

div > #overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100%;
}

.shadowed {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
}

.content h1, h2, h3, h4, h5 {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.alert > .alert-content {
  font-size: large;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 30px;
}

.copyright {
  color: darkgray;
}